    html, body {
      background-color:#f7deb8d0;
      color: #f7f7f7;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Croissant One', cursive;
      font-size: 20px;
      margin: 0;
      padding: 0;
}

* {
  box-sizing: border-box;
}
  
  main {
    width: 400px;
    height: auto;
    margin: 10px;
    padding: 20px;
    background-image: linear-gradient(150deg, #fadc8a8a, #f8c5678f, #fa900665);
    border-radius: 50px;
    box-shadow: 0 2px 3px rgba(165, 88, 0, 0.699);
  }
  
  h1 {
    font-family: 'Croissant One', cursive;
    text-align: center;
    font-size: 25px;
    color: #270b04;
    margin: 0;
    padding-bottom: 20px;
  }
  
  section {
    background-color: #fc90033f;
    font-size: 20px;
    margin: auto;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 20px;
    box-shadow: inset 1px 1px 1px rgb(248, 150, 3);
  }
  
  section > div {
    padding: 5px;
  }
  
  .bill {
    display:flex;
    margin-bottom: 14px;
  }
  .bill label {
    flex: 1;
    align-self: center;
  }
  .bill input {
    flex: 3;
  }
  
  input[type="number"] {
    font-family: inherit;
    background: #f4f4f5;
    font-size: 16px;
    text-align: center;
    align-content: center;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: inset 0px 2px 2px lightgray;
  }
  
  .space-between {
    display: flex;
    justify-content: space-between;
    margin: 3px;
  }
  
  .total {
    font-size: 22px;
    color: #270b04;
    font-family: inherit;
    font-weight: bolder;
  }
  
  .range {
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
    border: 1px solid #f8f8f8;
    border-radius: 3px solid;
    width: 100%;
    height: 10px;
    background: #dedeeebb;
    border-radius: 4px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 7px;
    width: 12px;
    background-color: #db6a00;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="range"]::-moz-range-thumb {
    width: 7px;
    height: 12px;
    border-radius: 50%;
    background: #eb4e06;
    cursor: pointer;
    border: 1px solid rgb(250, 250, 250);
  }
  
  .range::-moz-focus-outer {
    border: solid 1px;
  }

  .tipTextSelection {
    font-family: inherit;
    font-size: 14px;
    display: flex;
  }

  .tipTextSelection2 {
    font-family: inherit;
    font-size: 10px;
    display: flex;
  }

  .gorjeta {
    padding-left: 200px;
  }