    html, body {
      background-color:#0000272c;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Ubuntu', sans-serif;
      font-size: 20px;
      margin: 0;
      padding: 0;
}

* {
  box-sizing: border-box;
}
  
  main {
    width: 400px;
    height: auto;
    margin: 10px;
    padding: 20px;
    background: linear-gradient(360deg, #3c3d497a, #0b0d5a5d,#000027 );
    border-radius: 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
  }
  
  h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 25px;
    color: #f4f4f5;
    margin: 0;
    padding-bottom: 20px;
  }
  
  section {
    background-color: rgba(255, 255, 255, 0.171);
    font-size: 20px;
    margin: auto;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 20px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.219);
  }
  
  section > div {
    padding: 5px;
  }
  
  .bill {
    display:flex;
    margin-bottom: 14px;
  }
  .bill label {
    flex: 1;
    align-self: center;
  }
  .bill input {
    flex: 3;
  }
  
  input[type="number"] {
    font-family: inherit;
    background: #f4f4f5;
    font-size: 16px;
    text-align: center;
    align-content: center;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow: inset 0 2px 2px lightgray;
  }
  
  .space-between {
    display: flex;
    justify-content: space-between;
    margin: 3px;
  }
  
  .total {
    font-size: 22px;
    color: #1d1f2c;
    font-family: inherit;
    font-weight: bolder;
  }
  
  .range {
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
    border: 1px solid #f8f8f8;
    border-radius: 3px solid;
    width: 100%;
    height: 10px;
    background: #ffffffbb;
    border-radius: 4px;
    outline-color: #0b0930;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 7px;
    width: 12px;
    background-color: #100333;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="range"]::-moz-range-thumb {
    width: 9px;
    height: 8px;
    border-radius: 50%;
    background: #97f7b4;
    cursor: pointer;
    border: 1px solid #f50;
  }
  
  .range::-moz-focus-outer {
    border: solid 1px;
  }

  .tipTextSelection {
    padding-left: 300px;
    font-family: inherit;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin: 3px;
  }

  .gorjeta {
    padding-left: 200px;
  }